// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendors/bootstrap/bootstrap";
@import "vendors/fontawesome/font-awesome";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,700&subset=latin-ext';
@import "commonClasses";
@import "mediaQueries";
@import "partials/destek_ol";
@import "partials/elaqe";
@import "partials/haqqimizda";
@import "partials/index";
@import "partials/istek_elave_et";
@import "partials/navbar";
@import "partials/map";
@import "partials/news";
@import "partials/footer";
@import "partials/sual";
@import "partials/profilim";
@import "partials/ehtiyacim";

body {
    font-weight: 400;
    font-size: 14px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
