#istek{
    background-color:#61bce4;
    padding-bottom: 10px;
    ul {
        padding: 0;
        list-style: none;
        li{
            &:last-child{
                margin-top: 50px;
            }
            h1{
                font-weight: 600;
            }
            a{
                color: black;
                font-weight: 600;
                text-decoration: none;
                &:hover{
                    transition:all 0.4s;
                    color: #2ab6ff;
                }
            }
        }
    }
}
#address{
    padding: 20px 0;
      #map {
        height: 250px;
        width: 370px;
        margin-bottom: 20px;
      }
.controls {
  // margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

    .sag{
        min-height: 45em;
        box-shadow: 0px 0px 20px lightgray;
        padding: 20px 0;
    }
    ul{
        padding: 5px;
        list-style: none;
            float: left;
            margin-left: 5%;
    }
    label{
        margin-top: 20px;
    }
    input[type="text"], input[type="file"], input[type="email"], select{
        margin-top: 20px;
        height: 42px;
    }
    input[type="submit"]{
        margin-top: 40px;
        background-color: #2ab6ff;
        color: white;
    }
}
