#news{
  padding-top: 50px;

    a{
      text-decoration: none;
      color: black;
    }
  a[role='button']{
    color: white;
    background: #0E9EDB;
    transition: all .3s ease;
  }
  a[role='button']:hover{
    background: white;
    color: #0E9EDB;
    border: 1px solid #0E9EDB;
  }
  img{
    border-radius: 3px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .thumbnail{
    border: 0;
    box-shadow: 0 2px 15px #aaa7a7;
  }
  .thumbnail:hover{
    box-shadow: 0 2px 40px #aaa7a7;
  }
}
